* {
    border: none;
    border-radius: 0px;
    font-family: "Mno16";
    font-size: 14px;
    min-height: 0;
    color: #1d2021;
}

window#waybar {
    border-bottom-style: inset;
    border-bottom: 4px solid #ebdbb2;
    background: #ebdbb2;
}

window#waybar.empty #window{
	background: none;
}

#workspaces, #clock, #custom-music { 
    /* font-weight: 800; */
    background: #1d2021
}

/* Workspace Buttons */
#workspaces button label{
    color: #ebdbb2;

}
#workspaces button.focused label {
    color: #1d2021;
}
#workspaces button.focused {
    background: #ebdbb2; 
}

#workspaces button.active label {
	color: #1d2021;
}

#workspaces button.active {
	background: #ebdbb2;
}

#window {

	padding-left: 5px;
}

#mode {
    background-color: #cc241d;
    color: white;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor {
    background: #1d2021;
    border-right: 30px solid #1d2021;
}

#clock, #battry, #cpu, #memory, #network, #pulseaudio, #tray, #mode, #idle_inhibitor label {
	color: #ebdbb2;
}

#network {
	border-left: 10px solid #1d2021;
}

#clock {
	border-right: 10px solid #1d2021;
}


#network.disconnected {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}


#pulseaudio.muted {
    color: #cc241d;
    border-bottom: 4px solid #cc241d;
}
